# Basic Syntax and Data Types

### First Program

In [ ]:
print("Hello Yusuf")

Hello Yusuf

## Indentation

Python is sensitive to indentations in the code segment.Comparing other programming languages, it uses indented spaces rather than curly brackets( {} )

In [ ]:
# Wrong Indentation

if(1 < 2):
print("1 is smaller than 2")

IndentationError: ignored

In [ ]:
# Right Indentation

if(1 < 2):
  print("1 is smaller than 2")

# See the blank space (indent) on the left of the pritn line

1 is smaller than 2

## Comment Lines

Comment Lines are used for storing parts that they don't store as a code inside code block, such as explanations, notes etc.

Using "#" symbol allows developer to convert the line after the symbol into a comment line

In [ ]:
# This is a comment line

# You
# can
# add
# multiple
# command
# line

This is not a comment line but # This is a comment line

You can also use """ """ notation to convert a block of code into a comment line

In [ ]:
"""
This is a block of comment
This is not included in the code
Just an explanation part
You can leave notes here
"""

#Variables

Variables are containers for storing data values.

## Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 10

y = 10.1

name = "Yusuf"

print(x)
print(y)
print("Anakin Skywalker")

10
10.1
Anakin Skywalker

In [ ]:
print("My age is :" + 10)

TypeError: ignored

In [ ]:
# Valid Variable Naming Examples

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
# invalid Variable Naming Examples

2myvar = "John"
my-var = "John"
my var = "John"
class = "Python & Machine Learning Class"

In [ ]:
# You can assign multiple variables

a, b, c = "Deniz", "Yusuf", "Yasemin"

x, y, z = 10, 20 , 30

first, second, third = "A", 20, "Third"

In [ ]:
# You can use "print()" function to get the output of variables

myName = "Yusuf"
print(myName)

Yusuf

In [ ]:
myName = "Yusuf"
yourName = "Deniz"
age = 10
print(myName, yourName, age)

Yusuf Deniz 10

In [ ]:
# You can print an variable inside a text using "+" operator

myName = "Yusuf"

print("I'am " + myName + " and I love Mexican Burger")

I'am Yusuf and I love Mexican Burger