In [ ]:
# Strings

a = 'This is a string'
print (a)
b = "This is a string"
print (b)
c= '''This is a string'''
print (c)

print(a[0])
print(b[1])
print(c[0:5])

This is a string
This is a string
This is a string
T
h
This

In [ ]:
# Type Conversions

a = 10
b = "20"
print(type(a))
print(type(b))

b = int(b)
print(type(b))

a = str(a)
print(type(a))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
# Lists

print(list([1,2,3, "four", "five", 6.5]))
a = list([1,2,3, "four", "five", 6.5])
print(type(a))

myList = [1, 2, 3, 4, ("Five", 5), "Six"]

print(myList)
print(type(myList))

[1, 2, 3, 'four', 'five', 6.5]
<class 'list'>
[1, 2, 3, 4, ('Five', 5), 'Six']
<class 'list'>

In [ ]:
print(myList[0])
print(myList[1])
print(myList[0:3])

1
2
[1, 2, 3]

In [ ]:
# Adding element to end of the list
myList.append(4)
print(myList)

[1, 2, 3, 4, ('Five', 5), 'Six', 4]

In [ ]:
# Adding element to a given index in the list
myList.insert(3, "inserted element")
print(myList)

[1, 2, 3, 'inserted element', 4, ('Five', 5), 'Six', 4]

In [ ]:
# Removing an element from the list
myList=["a", "b", "c" ,4,5,6,7]
myList.pop(3)
print(myList)

['a', 'b', 'c', 5, 6, 7]

In [ ]:
# Removing the first element with specified value in the list
myList.remove("c")
print(myList)

['a', 'b', 5, 6, 7]

In [ ]:
# Removing All the elements in the list
myList.clear()
print(myList)

[]

In [ ]:
myList = [10,25,2,14,7,58]

# Sorting All the elements in the list
myList.sort() # reverse = False default
print(myList)

[2, 7, 10, 14, 25, 58]

In [ ]:
# Sorting All the elements in descending order in the list
myList.sort(reverse=True)
print(myList)

[58, 25, 14, 10, 7, 2]

In [ ]:
# Tuples

tup = (1, "a", "string", 1+2)
print(tup)
print(tup[1])

(1, 'a', 'string', 3)
a

In [ ]:
# Sets

MySet = {1, 2, 3, 4, "Hello", "World", ("Deniz", 21)}
print(MySet)
# typecasting list to set
myset = set({"s", "g", "d"})
print(myset)



# Adding element to the set
myset.add("x")
print(myset)

{('Deniz', 21), 1, 2, 3, 4, 'World', 'Hello'}
{'g', 's', 'd'}
{'g', 's', 'd', 'x'}

In [ ]:
# Removing a random element from the set and
print(myset.pop())

g

In [ ]:
# Merging sets

list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [10, 11, 12]
set1 = set(list2)
set2 = set(list1)
set1.update(set2)
print(set1)
set1.update(list3)
print(set1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 10, 11, 12}

In [ ]:
# Dictionaries

Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)


Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [ ]:
# Different ways to create dictionery

Dict = {}
print("Empty Dictionary: ")
print(Dict)

Dict = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [ ]:
# Nested Dictionaries


Dict = {"First": 'Geeks', 2: 'For',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

print(Dict)

{'First': 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [ ]:
print(Dict[2])

For

In [ ]:
#Adding/Updating element in dictionary

myDict = {1:"Yusuf", 2:"Deniz", 3:"Yasemin"}
myDict[1] = "Ege"
print(myDict)

{1: 'Ege', 2: 'Deniz', 3: 'Yasemin'}

In [ ]:
myDict[4] = "Hakan"

In [ ]:
print(myDict)

{1: 'Ege', 2: 'Deniz', 3: 'Yasemin', 4: 'Hakan'}