In [ ]:
class Employee:
    salary_raise = 1.25

    def __init__(self,firstName,lastName,age,salary):
        #instance variables
        self.firstName = firstName   # attribute
        self.lastName = lastName
        self.age = age
        self.salary = salary

    @property
    def full_Name(self):

        full_Name_of_employee = self.firstName + " " + self.lastName
        return full_Name_of_employee


    def print_all(self,employee_first_name, employee_last_name ):
        if(employee_first_name == self.firstName):
            return self.firstName + " " + self.lastName + " " + str(self.age) + " " + str(self.salary)

    def give_raise(self):
        self.salary = self.salary * self.salary_raise

    @classmethod
    def change_raise_ratio(cls,new_raise_ratio ):
            cls.salary_raise = new_raise_ratio

    @staticmethod
    def print_under_average(myValue):
      if myValue > 15000:
        print("Maaşınız düşük")
      else:
        print("Maaşınız yüksek")

In [ ]:
employee1 = Employee("Enver", "Balci", 21, 10000)
print("İlk maaş:   "+  str(employee1.salary))

employee1.give_raise()

print("İlk zam oranıyla Yeni maaş"+ str(employee1.salary))

Employee.change_raise_ratio(1.5)

print("İkinci zam oranıyla Yeni maaş"+ str(employee1.salary))

employee1.print_under_average(15000)

İlk maaş:   10000
İlk zam oranıyla Yeni maaş12500.0
İkinci zam oranıyla Yeni maaş12500.0
Maaşınız yüksek

In [27]:

from abc import ABC, abstractmethod

class School(ABC):
    def __init__(self, firstName, lastName, age):
        self.firstName = firstName
        self.lastName = lastName
        self.age = age

    @abstractmethod
    def print_Stuff(self):
        print("FirstName: " + self.firstName)



class Student(School):
    def __init__(self, firstName, lastName, age, grade, number):
        super().__init__(firstName, lastName, age)
        self.grade = grade
        self.number = number

    def print_Stuff(self):
        print("FirstName: " + self.firstName)

class Management(School):
    def __init__(self, firstName, lastName, age, salary, resp_year):
        super().__init__(firstName, lastName, age)
        self.salary = salary
        self.resp_year = resp_year



student1 = Student("Yusuf", "Matur",20, 10, 15).print_Stuff()

FirstName: Yusuf